@page "/Cart"
@using TimeToBuy.Data
@inject CartService CartService

@if (CartDetails == null)
{
    <p>No items in cart, sorry!</p>
}
else
{
    <h2>Shopping Basket</h2>
    
    <section id="shoppingCart">
        <section id="lineItems">
            @foreach (var item in CartDetails.Items)
            {
                <div class="line">
                    <div>
                        <h4>@item.ProductName</h4>
                        <p>Qty: @item.Quantity</p>
                    </div>
                    <div>
                        <h3>@item.LinePrice.ToString("C")</h3>
                    </div>
                </div>
            }
        </section>
        <section id="summary">
            Subtotal (@CartDetails.Items.Count items): <strong>@CartDetails.TotalPrice.ToString("C")</strong>
        </section>
    </section>
}


@code {
    private Data.Cart? CartDetails;

    protected override async Task OnInitializedAsync()
    {
        CartDetails = CartService.GetCart();
    }

}