@page "/"
@using TimeToBuy.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Db

<PageTitle>Products</PageTitle>

<form method="GET" class="search-form">
    <input type="text" name="searchTerm" value="@SearchTerm"/>
    <button type="submit">Search</button>
</form>

<section class="card-list product-list">
    @foreach (var product in _products)
    {
        <a href="/details/@product.Id" class="card">
            <div class="card-content">
                <img src="@product.ImageUrl" alt="@product.Name cover image" class="card-img"/>
                <h2 class="title">@product.Name</h2>
                <p>@product.ShortDescription</p>
            </div>
            <div class="card-footer">
                <h3 class="price">@product.CurrentPrice.ToString("C")</h3>
            </div>
        </a>
    }
</section>

@code {
    private List<Product>? _products;

    [SupplyParameterFromQuery] 
    public string? SearchTerm { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _products = await Db.Product
            .Where(x=>string.IsNullOrEmpty(SearchTerm) || x.Name.ToLower().StartsWith(SearchTerm.ToLower()))
            .ToListAsync();
    }

}